.spinner {
    height: 100%;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 50000;
}
p {
  color: #fff !important;
}
fa-icon {
    font-size: 20px;
}
.profile-menu {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
}
ion-toolbar {
    height: 8rem !important;
    --min-height: 8rem !important;
}
.toolbar-container {
    height: 9rem !important;
}
fa-icon {
    font-size: 20px;
    color: var(--ion-color-primary);
}